
body{
color:green;
font-family:poppins;
background-image: url("https://i.postimg.cc/wBtJBh1C/pexels-tubarones-photography-2764975.jpg");
background-repeat: no-repeat;
background-size: auto;
background-attachment: fixed;
    background-color:#f9f9f9;
}

/* p{
    color:blue;
    background-color: red;
    color:rgba(28, 74, 159, 0.601);
    font-family:poppins;
    border: 4px green;
    border-radius: 20px;
    border-top-left-radius: 0px;
    box-shadow :#f9f9f9";
    padding : 100px;
    margin:10px;
} */

h1 {color:green}
strong{color:white}

a:link, a:visited {
    background-color: #f44336;
    color: white;
    padding: 15px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
  }
  
  a:hover, a:active {
    background-color: red;
  }
img{
    height:100%;
    width:100%;
}